<h1>Build a Bow</h1>

<h2>For each field, list what type of accessory you are going to use.</h2>

<form action="/bows/new" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <br><br>
    <label for="model">Model: </label>
    <input type="text" name="model" id="model">
    <br><br>
    <label for="front_sight">Front Sight: </label>
    <input type="text" name="front_sight" id="front_sight">
    <br><br>
    <label for="peep_sight">Peep Sight: </label>
    <input type="text" name="peep_sight" id="peep_sight">
    <br><br>
    <label for="arrow_rest">Arrow Rest: </label>
    <input type="text" name="arrow_rest" id="arrow_rest">
    <br><br>
    <label for="stabilizer">Stabilizer: </label>
    <input type="text" name="stabilizer" id="stabilizer">
    <br><br>
    <label for="release">Release: </label>
    <input type="text" name="release" id="release">
    <br><br>
    <label for="quiver">Quiver: </label>
    <input type="text" name="quiver" id="quiver">
    <br><br>
    <label for="arrow_shaft">Arrow Shaft: </label>
    <input type="text" name="arrow_shaft" id="arrow_shaft">
    <br><br>
    <label for="arrow_head">Arrow Head: </label>
    <input type="text" name="arrow_head" id="arrow_head">
    <br><br>
    <input type="submit" value="Create Bow">
</form>