<h1>Welcome, <a href="/users/all"><%=@user.username%></a></h1> <br>

<h2>Change your password below</h2>

<form action="/users/password" method="post">
    <label for="current">Current Password:</label>
    <input type="password" name="current" id="current">
    <br><br>
    <label for="password">New Password:</label>
    <input type="password" name="password" id="password">
    <br><br>
    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" name="confirm_password" id="confirm_password">
    <br><br>
    <input type="submit" value="Update Password">
    <input type="hidden" name="_method" value="PATCH">
</form>





<form action="/users/logout" method="post">
    <input type="submit" value="Log Out" >
</form>
