<h1>Welcome to BuildABow!</h1>
<h2>A great way to keep track of your past and current compound bow setups.</h2>
<div style="text-align:center; ">
    <a href="/users/login" style="padding:60px">Log In</a>
    <a href="/users/signup" style="padding:60px">Sign Up</a>
</div>